[Unit]
# describe the app
Description=Wysi Web Api
# start the app after the network is available
After=network.target

[Service]
# usually you'll use 'simple'
# one of https://www.freedesktop.org/software/systemd/man/systemd.service.html#Type=
Type=simple
# which user to use when starting the app
User=m4rti
# path to your application's root directory
WorkingDirectory=/var/www/wysi/web/src
# the command to start the app
# requires absolute paths
ExecStart=/home/m4rti/.bun/bin/bun run index.ts
# restart policy
# one of {no|on-success|on-failure|on-abnormal|on-watchdog|on-abort|always}
Restart=always

[Install]
# start the app automatically
WantedBy=multi-user.target
