@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Torus;
    src: url("/public/css/fonts/Torus-SemiBold.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* :not(i) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Torus;
}

.loading-indicator:not([style*="display: none"]) {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: loading;
    animation-delay: 0s;
}

@keyframes loading {
    0% {
        filter: opacity(0);
    }

    100% {
        filter: opacity(1);
    }
}

.htmx-indicator {
    display: none;
    transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator {
    display: block;
}

.htmx-request.htmx-indicator {
    display: block;
}

.reset-zoom {
    display: none !important;
    opacity: 0;
}

.double_slider::-webkit-slider-thumb,
.double_slider::-moz-range-thumb {
    pointer-events: all;
    background-color: #fff;
    z-index: 10;
}

.double_slider::-webkit-inner-spin-button,
.double_slider::-webkit-outer-spin-button {
    opacity: 1;
}

.double_slider {
    z-index: 0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    pointer-events: none !important;
}
