@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Torus";
    font-weight: 100;
    font-style: normal;
    src: url("/public/fonts/Torus-Thin.otf");
}

@font-face {
    font-family: "Torus";
    font-weight: 300;
    font-style: normal;
    src: url("/public/fonts/Torus-Light.otf");
}

@font-face {
    font-family: "Torus";
    font-weight: 400;
    font-style: normal;
    src: url("/public/fonts/Torus-Regular.otf");
}

@font-face {
    font-family: "Torus";
    font-weight: 600;
    font-style: normal;
    src: url("/public/fonts/Torus-SemiBold.otf");
}

@font-face {
    font-family: "Torus";
    font-weight: 700;
    font-style: normal;
    src: url("/public/fonts/Torus-SemiBold.otf");
}

@font-face {
    font-family: "Torus";
    font-weight: 900;
    font-style: normal;
    src: url("/public/fonts/Torus-Heavy.otf");
}

@font-face {
    font-family: "Torus";
    font-weight: 800;
    font-style: normal;
    src: url("/public/fonts/Torus-Bold.otf");
}

@font-face {
    font-family: "Nunito";
    font-weight: 400;
    font-style: normal;
    src: url("/public/fonts/Nunito-Variable.ttf");
}

@font-face {
    font-family: "Nunito";
    font-weight: 400;
    font-style: italic;
    src: url("/public/fonts/Nunito-Italic-Variable.ttf");
}

@font-face {
    font-family: "Baloo";
    font-weight: 400;
    font-style: normal;
    src: url("/public/fonts/BalooBhaijaan2-Variable.ttf");
}

@font-face {
    font-family: "Kosugi";
    font-weight: 400;
    font-style: normal;
    src: url("/public/fonts/KosugiMaru-Regular.ttf");
}

@font-face {
    font-family: "Moderustic";
    font-weight: 400;
    font-style: normal;
    src: url("/public/fonts/Moderustic-Variable.ttf");
}

* :not(i) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Torus, Nunito, Baloo, Moderustic;
    font-weight: 700;
}

img:not([src]):not([srcset]) {
    visibility: hidden;
}

.loading-indicator:not([style*="display: none"]) {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: loading;
    animation-delay: 0s;
}

@keyframes loading {
    0% {
        filter: opacity(0);
    }

    100% {
        filter: opacity(1);
    }
}

.htmx-indicator {
    display: none;
    transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator {
    display: block;
}

.htmx-request.htmx-indicator {
    display: block;
}

.reset-zoom {
    display: none !important;
    opacity: 0;
}

.double_slider {
    z-index: 0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    pointer-events: none !important;
    color: #fff;
}

.double_slider::-webkit-slider-thumb,
.double_slider::-moz-range-thumb {
    pointer-events: all !important;
    background-color: #fff;
    z-index: 10;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.double_slider::-webkit-slider-thumb {
    pointer-events: all !important;
    -webkit-appearance: none;
    background: #ffffff;
    cursor: pointer;
}

/* All the same stuff for Firefox */
.double_slider::-moz-range-thumb {
    pointer-events: all !important;
    background: #ffffff;
    cursor: pointer;
}

/* All the same stuff for IE */
.double_slider::-ms-thumb {
    pointer-events: all !important;
    background: #ffffff;
    cursor: pointer;
}

.double_slider::-webkit-inner-spin-button,
.double_slider::-webkit-outer-spin-button {
    opacity: 1;
}

.truncated {
    max-width: calc(100% - 100px);
}
