@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Geist;
    src: url("/public/css/fonts/Geist-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: Torus;
    src: url("/public/css/fonts/Torus-SemiBold.otf") format("opentype");
}

* :not(i) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Torus;
}
